<body>
    <div id="root"></div>
    <script src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel">
        const rootElement = document.getElementById("root");

        function SayHello({firstName, lastName}){
            return (
                <div>
                    Hello {firstName} {lastName}
                </div>
            )
        }

        SayHello.propTypes = {
            firstName(props, propName, componentName){
                if (typeof props[propName] !== 'string'){
                    return new Error(`Hey, the component ${componentName} needs the prop ${propName} to be a string, but you passed a ${typeof props[propName]}`)
                }
            }
        }
        
        const element = <SayHello firstName={false}/>
    


        ReactDOM.render(element, rootElement)
    </script>
</body>
